<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DBType" value="SQLServer" />
    <add key="EmailAndSMSDbSettingConn" value="Hn3t+SQCaz3ZRQDdawhd6njUqoNX1BXcfMvvUaOvBtSgx3Sb0n0zrUEAqNCMBfkVIAh6YKC6HgB3n6Lv3E3co9W5bG6oj3pUMEloFC9T5BSpAdxbtuAiihKAP07CkcMnLcGw/M0Bxi5UiwXEqQarUungmJ8Qu6nrEbjwzpgLUkKvtTg+uJp6RgiwEXWM49Qrjxu/5380klhlRb7+0uB09kx+q0XX0XuV6biXMIWMLiwsjN6Ic1fN1SjBy+MeprZqfHiaUXAxtsynggxJs2kz4xZbijxx2zdU4aWF9CQiHesMvnelvZZR+NsS3m52c/We0kaOCTRE3QugFYt9IbMhApW4AB0GQ/Jh3q8pH2ptViOSYlWR63BSJ9WLE/3TTC/4Wv1nGDnewH6T6KI3wZozcYLf4ZCGiO6/smRRkTAEtzbgh5CHwTUNP5PmY1/bvZR025JWUaxg6H2omxXJUahY0pjZnVpLdZrxi/0cgtuUqlSNwciSLXoOBc8L7JkNk7+E" />
  </appSettings>
</configuration>