<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmailAndSMSDbSettingConn" value="data source=.;database=SohoEmailAndSMS;user id=sa;password=123;connection reset=false;Timeout=30;connection lifetime=30; min pool size=0; max pool size=50" />
  </appSettings>
</configuration>