@model Soho.Utility.Web.Framework.PortalResult
@{
    ViewBag.Title = "GetDatas";
    var data = Model.Data as List<SohoWeb.Entity.ControlPanel.Users>;
}
@{
    foreach (var item in data)
    {        
        <h2>@(item.UserID)</h2>
    }
}
